OPENAI_API_KEY = "CHANGE-ME"

RUST_LOG = "assist_lamfo=info"

POSTGRES_PASSWORD="welcome"

DB_URL="postgres://app_user:dev_only_pwd@db/app_db"

QDRANT_URL="http://qdrant:6334"

MODEL_CHAT_OA="gpt-3.5-turbo-0125"

PGADMIN_DEFAULT_EMAIL="lamfo@unb.br"

PGADMIN_DEFAULT_PASSWORD="OFMAL!unb2"

LAMFO_GPT_DIR="./lamfo_gpt/files"

PG_DEV_POSTGRES_URL="postgres://postgres:welcome@db/postgres"

PG_DEV_APP_URL="postgres://app_user:dev_only_pwd@db/app_db"